<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% if page.links_as == 'buttons' %}
        <a href="/by_category" class="category_button"> {{page.category}} </a>
        {% endif %}
        {% if page.language %}
        <a href="/by_language" class="category_button"> {{page.language}} </a>
        {% endif %}
        {% if page.language2 %}
        <a href="/by_language" class="category_button"> {{page.language2}} </a>
        {% endif %}
        {% if page.title == 'Full Portfolio' %}
        <a href="/by_category" class="category_button"> By Category </a>
        <a href="/by_language" class="category_button"> By Language </a>
        {% endif %}
        {% if page.permalink == '/projects' %}
        <a href="/by_category" class="category_button"> By Category </a>
        <a href="/by_language" class="category_button"> By Language </a>
        {% endif %}
        {% if page.permalink == '/articles' %}
        <a href="/by_category" class="category_button"> By Category </a>
        {% endif %}
        {{ content }}
      </div>
      <br>
    </main>

    {%- include footer.html -%}

  </body>

</html>
